spring:
  application:
    name: jwt-oauth2-resource-server
  datasource:
    url: jdbc:postgresql://45.179.43.250:8081/database
    username: postgres
    jpa:
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          format_sql: true
      show-sql: true
  data:
    security:
      oauth2:
        authorizationserver:
          jwt:
            key-store-location: ./certs/oauth2-keys.jks
            key-store-password: changeit
            key-alias: oauth2-jwt-key
            key-password: changeit
logging:
  level:
    br.com.security.server.oauth2.jwt: INFO
    org:
      springframework:
        security: TRACE
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    metrics:
      enabled: true  

